:root {
    --gris: #919191;
    --gris-claro: #C4C4C4;
    --gris-oscuro: #212529;
    --blanco: #ffffff;
    --azul: #1B4ED2;
    --azul-claro: #557CE0;
    --rojo: #FB9B9B;
    --gris-ultra-claro: rgb(233, 233, 233);
}